{%extends "layout.html"%}
{% block content %}
     <h1> INSTRUCTIONS</h1>
        <p> TECH-MART Instructions Hey welcome to Tech-Mart, Oh Don't get panic we will walk you through instructions so you can have a hazzle free shopping experience</p>

    <p>STEP 1: collect the cart from our store executive and enter your login details</p>
    <p>STEP 2: while placing the object in your cart, wait to see white light to confirm your order. If you see red light try once again</p>
    <p>STEP 3: proceed to check out and hand over the cart, you will get your bill and a payment link. Pay the required Amount and proceed</p>
    <p>STEP 4: PLEASE COME AGAIN and don't forget to bring your own bags</p>
{% endblock content %}

